#idLeftNav{
  float: left;
  clear: left;
  width: 200px;
  margin: 0;
}

#bg1{
  background-color: whitesmoke;
  margin: auto;
  width: 75%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

#cadastroContentOne {
  padding-top: 90px;
}

.ajusteContent {
  margin: 0px 0px 15px;
  clear: both;
  width: 100%;
}

.ajusteContent2 {
  margin-top: 50px;
}

#subButtonId{
  margin-top: 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  display: inline-block;
  background-color: rgb(56, 137, 76);
  color: white;
  text-align: center;
  padding: 10px 20px;
}

#subButtonId:hover{
    background-color: rgb(152, 197, 73);
}