
/*CSS para configuração da barra de navegação*/
.unorderedListNav{
    list-style-type: none; /*marcas para cada item */ 
    overflow: hidden; /*configuracao para quando ultrapassar o limite de espaço*/
    background-color: rgb(56, 137, 76);
    border-radius: 5px;
    float: none;
}

.listItemNav{
    float: left; /*orientacao para esquerda*/
    border-right: 1px solid #bbb;
}

.listItemNav:last-child{
    border-right: none;
}

button{
    cursor: pointer;
}

.listItemNav button{
    font-size: 16px;
    border: none;
    display: inline-block;
    background-color: rgb(56, 137, 76);
    color: white;
    text-align: center;
    padding: 18px 20px;
}

.listItemNav button:hover{
    background-color: rgb(152, 197, 73);
}

/*Imagem dos produtos*/
.produtosPagina{
    float: none;
    margin-bottom: 100px;
}


img.header{
    width: 100%;
    height: auto;
}
/* ------------------------------------------ */

/*Organizar imagem e texto*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 30px;
}
/* ---------------------- */

/*Imagem do topo da pagina*/
img.header{
    width: 100%;
    margin-bottom: -10px;
    height: auto;
}
/* ---------------------- */


input{
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Padrões de escrita normal*/
h1, p, ul{ 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(80,80,80);
}

p{
    font-size:1.05em;
    line-height: 1.6;
    margin: 0px 0px 10px;
}
/* ----------------------- */

/*Footer da pagina*/
.footer {
    background-color: rgb(152, 197, 73);
    padding: 10px;
    text-align: center;
    /*height: 19%;*/
}
/* -------------  */

/*Box da pagina (container de conteudo)*/
  .content {
    max-width: 1200px;
    background: white;
    text-align: justify;
    /*padding: 20px;*/
    /*min-height: 100%;*/
    margin: 0 auto 0px;
  }
/* --------------------------------- */

html, body {
  height: 100%;
  margin: 0;
}